.slider {
  -webkit-appearance: none;
  height: 12px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 75%;
  background: #ff8d1e;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 75%;
  background: #ff8d1e;
  cursor: pointer;
}

.headhov:hover{
color: #ff8d1e;
}

.symbol{
  color: #ff8d1e;
}
.symbol:hover{
  color: black;
}


.cart-count{
  color: black;
  background-color: #ff8d1e;
}

.text-yellow-700{
  color: #ff8d1e;
}
